# IDE
.idea/
.github/
.vscode/
*.sublime-*
*.swp
*.swo
*~
tmp/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Drupal
web/sites/*/files
web/sites/*/private
web/sites/*/translations
web/sites/*/tmp
web/sites/development.services.yml
web/sites/*/services*.yml
!web/sites/*/services.yml
!web/sites/development.services.yml

# Drupal core
web/core
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.htaccess
web/autoload.php
web/index.php
web/robots.txt
web/update.php
web/web.config

# Drupal contrib modules
web/modules/contrib
web/themes/contrib
web/profiles/contrib

# Libraries
web/libraries

# Composer
vendor/
composer.lock
/tmp

# Environment
.env
.env.local

# Docker
mariadb-init
postgres-init
mutagen.yml.lock

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Drupal settings
web/sites/default/settings.local.php
web/sites/default/services.local.yml
/data/*
